<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="school" class="com.xinghao.pojo2.School">
        <property name="name" value="qinghua"></property>
        <property name="address" value="beijing"></property>
    </bean>

    <bean id="stu" class="com.xinghao.pojo2.Student">
        <property name="name" value="xinghao"></property>
        <property name="age" value="21"></property>
        <property name="school" ref="school"></property>
    </bean>
</beans>